<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-light">
    <!-- Sección: Redes sociales -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom" style="background-color: #202020;">
      <!-- Izquierda -->
      <div class="me-5 d-none d-lg-block">
      </div>
      <!-- Derecha -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f text-warning"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter text-warning"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google text-warning"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram text-warning"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin text-warning"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github text-warning"></i>
        </a>
      </div>
    </section>
  
    <!-- Sección: Enlaces -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Fila de la cuadrícula -->
        <div class="row mt-3">
          <!-- Columna de la cuadrícula -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Contenido -->
            <h6 class="text-uppercase fw-bold mb-4 text-warning">
              <i class="fas fa-gem me-3"></i>Coffee Filter
            </h6>
          </div>
          
          <!-- Columna de la cuadrícula -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 text-warning">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Filter Coffee</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Accessories</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Courses</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Blog</a>
            </p>
          </div>
          
          
          <!-- Columna de la cuadrícula -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 text-warning">
              Useful Links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          
          
          <!-- Columna de la cuadrícula -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 text-warning">Contact</h6>
            <p><i class="fas fa-home me-3 text-warning"></i> New York, NY 10012, US</p>
            <p>
              <i class="fas fa-envelope me-3 text-warning"></i>
            </p>
            <p><i class="fas fa-phone me-3 text-warning"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3 text-warning"></i> + 01 234 567 89</p>
          </div>
          
        </div>
      </div>
    </section>
  
    <!-- Derechos de autor -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.5);">
      © 2024 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">coffeeFilter.com</a>
      <br>
      All images are copyrighted and belong to <a class="text-reset fw-bold" href="https://sibarist.coffee/">Sibarist Coffee</a>
    </div>
    
    
  </footer>
  