<app-nav-bar></app-nav-bar>
<div class="container my-5">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="card border-warning mb-3">
        <div class="card-header bg-white text-center">
          <h4>Register</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <!-- Nombre -->
            <div class="mb-3">
              <label for="inputName" class="form-label">Full Name</label>
              <input type="text" class="form-control" id="inputName" formControlName="name" placeholder="Enter your full name" required>
            </div>
            @if (invalidField('name')) {
              <span class="form-text text-danger">
                  {{nameErrorMsg}}
              </span>
            } 
            <!-- Correo electrónico -->
            <div class="mb-3">
              <label for="inputEmail" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail" formControlName="email" placeholder="Enter your email address" required>
            </div>
            @if(invalidField('email') && registerForm.get('email')){
              <span class="form-text text-danger">
                Incorrect email format
              </span>
            } 
            @if (invalidField('email')) {
              <span class="form-text text-danger">
                  {{emailErrorMsg}}
              </span>
            }              
            <!-- Username -->
            <div class="mb-3">
              <label for="inputUsername" class="form-label">Username</label>
              <input type="text" class="form-control" id="inputUsername" formControlName="username" placeholder="Enter your username" required>
            </div>
            @if (invalidField('username')) {
              <span class="form-text text-danger">
                  {{usernameErrorMsg}}
              </span>
            }  
            <!-- Contraseña -->
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Password</label>
              <input type="password" class="form-control" id="inputPassword" formControlName="password" placeholder="Enter your password" required>
            </div>
            @if (invalidField('inputPassword')) {
              <span class="form-text text-danger">
                Passwords must be the same
              </span>
            }@else if (registerForm.get('password')!.value.length < 6 && registerForm.get('password')!.touched) {
              <span class="form-text text-danger">
                The password must be at least 6 characters long.
              </span>
            }
            <!-- Confirmar contraseña -->
            <div class="mb-3">
              <label for="confirmPassword" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm your password" required>
            </div>
            @if (invalidField('confirmPassword')) {
              <span class="form-text text-danger">
                Passwords must be the same
              </span>
            }
            <br><br>
            <!-- Botón de registro -->
            <button type="submit" class="btn btn-warning">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>