<app-nav-bar></app-nav-bar>
<div class="container my-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div *ngIf="successMessage" class="alert alert-success" role="alert">
                {{ successMessage }}
            </div>
            <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                {{ errorMessage }}
            </div>
            <div class="card border-warning mb-3">
                <div class="card-header bg-white text-center">
                    <h4>Add Recipe</h4>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="saveRecipe()">
                        <!-- Title -->
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control mb-3" id="title" name="title" [(ngModel)]="newRecipe.title" placeholder="Enter title" required>
                        </div>
                        <!-- Filtering Method -->
                        <div class="form-group">
                            <label for="filtering-method">Filtering Method</label>
                            <select id="filtering-method" name="filteringMethod" class="form-control" [(ngModel)]="newRecipe.filteringMethod" required>
                                <option value="">Select a method</option>
                                <option value="Orea">Orea</option>
                                <option value="AeroPress">AeroPress</option>
                                <option value="Kalita Wave">Kalita Wave</option>
                                <option value="April">April</option>
                                <option value="V60">V60</option>
                                <option value="Origami">Origami</option>
                                <option value="French Press">French Press</option>
                            </select>
                        </div>
                        <!-- Origin -->
                        <label for="origin">Origin</label>
                        <ng-select [items]="origins"
                                bindLabel="country"
                                bindValue="id"
                                placeholder="Select origins"
                                [(ngModel)]="newRecipe.originIds"
                                [multiple]="true"
                                name="originIds"
                                class="custom-ng-select">
                        </ng-select>
            
                        <!-- Description -->
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea id="description" name="description" class="form-control mb-3" rows="3" [(ngModel)]="newRecipe.description" placeholder="Enter description" required></textarea>
                        </div>
                        <div class="d-flex">
                            <div class="form-group mr-2">
                                <button type="submit" class="btn btn-warning btn-custom-size me-2">
                                    <img src="../../assets/icons/agregar.png" alt="Save" style="height: 20px; width: 20px; vertical-align: middle;">
                                    Save
                                </button>
                            </div>    
                            <div class="form-group">
                                @if(!successMessage){

                                    <a class="btn btn-outline-danger btn-custom-size me-2" routerLink="/recipes">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                        </svg>
                                        Cancel
                                    </a>
                                }@else {
                                    <a class="btn btn-warning btn-custom-size me-2" routerLink="/recipes">
                                        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"  width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16"><path d="M11.62 3.81 7.43 8l4.19 4.19-1.53 1.52L4.38 8l5.71-5.71 1.53 1.52z"/></svg>
                                        Back To List
                                    </a>
                                }
                            </div>  
                        </div>                  
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
