.search-container {
    position: relative;
  }
  
  .search-input {
    padding-left: 30px;
  }
  
  .search-input::placeholder {
    padding-left: 20px; 
  }
  
  .search-input + .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
  }

  .search-button {
    margin-left: 10px; 
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-icon {
  margin-right: 10px; 
  height: 50px;
  width: 50px;
}

.logout-item {
  margin-left: 15px; 
}

.dropdown-menu-black {
  background-color: #252525; 
}

.dropdown-menu-black .dropdown-item:hover, .dropdown-menu-black .dropdown-item:focus {
  background-color: #555; 
}

/* Estilo base de .nav-link.btn */
.nav-link.btn {
  transition: background-color 0.3s, box-shadow 0.3s; 
}

/* Estilo hover de .nav-link.btn */
.nav-link.btn:hover {
  background-color: #e0a800; 
  box-shadow: 0 0 10px #cccccc; 
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ffc107' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (max-width: 992px) {
  .navbar-toggler {
    border: 2px solid #ffc107;
  }

  .nav-item {
    margin-bottom: 20px;
  }
}
