<nav class="navbar navbar-expand-lg" style="padding-top: 0; padding-bottom: 0; background-color: #000000dd;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" routerLink="/" style="display: flex; align-items: center; height: 110%;">
            <img src="../../assets/PhotoRoom_20240215_195725.PNG" alt="Logo" style="height: 110px;">
            <span class="navbar-brand-text" style="color: rgb(255, 255, 255); font-size: 1.5rem; font-weight: bold; font-family: 'Brush Script MT', cursive; margin-left: 10px;">Alquimia Coffee Filter</span>
        </a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a  class="nav-link active text-warning" aria-current="page" routerLink="/" >Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-warning" routerLink="/recipes" aria-current="page" href="#">List Recipes</a>
                </li>
                @if(userRole === "user" || userRole === "admin"){
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle text-warning" type="button" aria-haspopup="true" 
                           data-bs-toggle="dropdown" aria-expanded="false">
                          My Space
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" style="border-color: #ffc107; border-style: solid; border-width: 2px;">
                          <li><a class="dropdown-item text-warning" routerLink="/recipe">Add Recipe</a></li>
                          <li><a class="dropdown-item text-warning" [routerLink]="['/user', getUserId(), 'recipes']">See own recipes</a></li>
                          <li><a class="dropdown-item text-warning" routerLink="/recipesFavourite">Favourite Recipes</a></li>
                        </ul>
                      </li>
                }
                <!-- <li class="nav-item">
                    <form class="d-flex search-container" (ngSubmit)="search()">
                        <input name="search" class="form-control form-control-sm search-input" style="border: 2px solid #ffc107; border-radius: 0.25rem;" type="search" placeholder="Search by method" aria-label="Search" [(ngModel)]="searchTerm">
                        <img src="../../assets/icons/lupa.png" alt="Search" class="search-icon">
                        <button class="btn btn-outline-warning search-button" type="submit">Search</button>
                    </form>                        
                </li> -->

            </ul>
            <ul class="navbar-nav ms-auto">
                <ng-container *ngIf="isLoggedIn(); else loggedOut">
                    <li class="nav-item">
                        <img width="60" height="60" src="https://img.icons8.com/?size=100&id=u4ZgwMAMKsBx&format=png&color=000000" alt="user"/>
                        <span class="nav-link text-warning">{{username}}</span>
                    </li>            
                    <li class="nav-item logout-item" >
                        <a class="nav-link btn" (click)="logout()" style="background-color: #ffc107; border-color: #ffc107; color: black;">
                            <img src="../../assets/icons/cerrar-sesion.png" alt="Save" style="height: 20px; width: 20px; vertical-align: middle;"> Logout
                        </a>
                    </li>                                       
                </ng-container>
                <ng-template #loggedOut>
                    <li class="nav-item" >
                        <button class="nav-link btn btn-warning" routerLink="/auth/login" style="background-color: #ffc107; border-color: #ffc107; display: flex; align-items: center; justify-content: center;">
                            <img src="../../assets/icons/icons8-entrar-48.png" alt="Save" style="height: 20px; width: 20px; vertical-align: middle; margin-right: 5px;"> Login
                        </button>
                    </li>
                </ng-template>
            </ul>                                
        </div>
    </div>
</nav>
