<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Filter</title>
    
</head>
<body>
    <app-nav-bar></app-nav-bar>
    <div class="video-header">
        <video autoplay muted loop id="myVideo">
            <source src="../../assets/video (2160p).mp4" type="video/mp4">
        </video>
    </div>
    <main role="main" class="container">
        <section class="gallery mt-5">
            <h2 class="text-warning">Gallery & Images Coffee Recipes</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="../../assets/origami.png" class="bd-placeholder-img card-img-top" width="100%" height="500" alt="Coffee Recipe">
                        <div class="card-body">
                            <p class="card-text">Origami</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="../../assets/orea.jpg" class="card-img-top" alt="French Press" height="200">
                        <div class="card-body">
                            <p class="card-text">Orea</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="../../assets/french.jpg" class="card-img-top" alt="French Press" height="500">
                        <div class="card-body">
                            <p class="card-text">French Press</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="../../assets/aeropress.png" class="card-img-top" alt="French Press" height="100">
                        <div class="card-body">
                            <p class="card-text">AeroPress</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="../../assets/sibarist11044.jpg" class="card-img-top" alt="French Press" height="180">
                        <div class="card-body">
                            <p class="card-text">April</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="../../assets/v60.png" class="card-img-top" alt="French Press" height="300">
                        <div class="card-body">
                            <p class="card-text">V60</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="share mt-5">
            <h2 class="text-warning">Share Your Brews</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="../../assets/pozo.jpg" class="share-img-top" alt="Pozo">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="../../assets/pourOver.jpg" class="share-img-top" alt="Pour Over">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="../../assets/filtro.jpeg" class="share-img-top" alt="Filtro">
                    </div>
                </div>
            </div>
        </section>        
    </main>
    <app-footer></app-footer>
</body>
</html>
