<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Filter</title>
    
</head>
<body>
    <app-nav-bar (searchEvent)="onSearch($event)"></app-nav-bar>
    <div class="video-header">
        <video autoplay muted loop id="myVideo">
            <source src="../../assets/video (2160p).mp4" type="video/mp4">
        </video>
    </div>
    <div class="container my-5">
        <h2 class="text-center mb-4 text-warning">
            <span></span>
            Specialty Coffee and Filtration Methods
        </h2>
        
        <div class="row">
            <div class="col-lg-12">
                <p class="text-justify">
                    <strong>Specialty coffee</strong> represents the highest quality within the coffee industry. These beans come from regions with unique microclimates that enhance their complex and distinctive flavor profile.
                </p>
                <p class="text-justify">
                    In a world where quality is key, coffee filtering methods have become an art form. From the classic French press to the meticulous Kalita method, AeroPress, each filtering technique brings different nuances and aromas to specialty coffee.
                </p>
                <p class="text-justify">
                    Each cup of specialty coffee prepared with filtering methods is the result of a meticulous process that begins with responsible bean cultivation and ends in a cup full of flavor and character.
                </p>
            </div>
        </div>        
    </div>
    <main role="main" class="container">
        <section class="gallery mt-5">
            <h2 class="text-warning">Gallery & Images Coffee Recipes</h2>
            <div class="col-lg-12">
                <p class="text-justify">
                    Discover the art of coffee with our diverse range of brewing methods, each offering a unique way to experience specialty coffee:
                </p>
                <ul>
                    <li><strong>Origami:</strong> Inspired by Japanese paper folding, perfect for those who love to experiment.</li>
                    <li><strong>Orea:</strong> Focuses on simplicity and sustainability for a clean, clear taste.</li>
                    <li><strong>French Press:</strong> Classic steeping method for a full-bodied, rich flavor.</li>
                    <li><strong>AeroPress:</strong> Quick and versatile, delivering a smooth, rich cup.</li>
                    <li><strong>April:</strong> Precision brewing for a balanced and nuanced flavor.</li>
                    <li><strong>V60:</strong> Popular for its uniform extraction, yielding a clean, flavorful cup.</li>
                </ul>
                <p class="text-justify">
                    <strong>Clicking on each image</strong> filters the gallery by the dripper category, showcasing a curated selection of recipes.
                </p>
                
                <h4 class="text-warning">Dripper Category</h4>
            </div>
            
            <div class="row">
                <div class="col-md-4" (click)="setFilterMethod('Origami')">
                    <div class="card gallery-card mb-4 shadow-sm">
                        <img src="../../assets/origami.png" class="bd-placeholder-img card-img-top" width="100%" height="500" alt="Origami">
                        <div class="card-body">
                            <p class="card-text">Origami</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" (click)="setFilterMethod('Orea')">
                    <div class="card gallery-card mb-4 shadow-sm">
                        <img src="../../assets/orea.jpg" class="card-img-top" alt="Orea" height="200">
                        <div class="card-body">
                            <p class="card-text">Orea</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" (click)="setFilterMethod('French Press')">
                    <div class="card gallery-card mb-4 shadow-sm">
                        <img src="../../assets/french.jpg" class="card-img-top" alt="French Press" height="500">
                        <div class="card-body">
                            <p class="card-text">French Press</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" (click)="setFilterMethod('AeroPress')">
                    <div class="card gallery-card mb-4 shadow-sm">
                        <img src="../../assets/aeropress.png" class="card-img-top" alt="AeroPress" height="100">
                        <div class="card-body">
                            <p class="card-text">AeroPress</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" (click)="setFilterMethod('April')">
                    <div class="card gallery-card mb-4 shadow-sm">
                        <img src="../../assets/sibarist11044.jpg" class="card-img-top" alt="April" height="180">
                        <div class="card-body">
                            <p class="card-text">April</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" (click)="setFilterMethod('V60')">
                    <div class="card gallery-card mb-4 shadow-sm">
                        <img src="../../assets/v60.png" class="card-img-top" alt="V60" height="300">
                        <div class="card-body">
                            <p class="card-text">V60</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="share mt-5">
            <h2 class="text-warning">Share Your Brews</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="../../assets/pozo.jpg" class="share-img-top" alt="Pozo">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="../../assets/pourOver.jpg" class="share-img-top" alt="Pour Over">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="../../assets/filtro.jpeg" class="share-img-top" alt="Filtro">
                    </div>
                </div>
            </div>
        </section>        
    </main>
    <app-footer></app-footer>
</body>
</html>
