<app-nav-bar></app-nav-bar>
<div class="container mt-4">
    <div class="d-flex justify-content-between mb-4 align-items-center">
        <h3 class="mb-0">Lista de Recetas de {{ userName }}</h3>
    </div>

    <table datatable [dtOptions]="dtOptions" class="table table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Method</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        @for (recipe of userRecipes; track $index) {
          <tr>
            <td>{{ recipe.title }}</td>
            <td>{{ recipe.description }}</td>
            <td>{{ recipe.filteringMethod }}</td>
            <td>{{ recipe.userName }}</td>
            <td>{{ recipe.userEmail }}</td>
            <td>
              <button class="btn btn-warning me-2" [routerLink]="['/recipe/detail', recipe.id]">More Info</button>
              <button class="btn btn-warning me-2" [routerLink]="['/recipe', recipe.id]">Edit</button>
              <button class="btn btn-warning me-2" (click)="deleteRecipe(recipe.id)">Delete</button>
            </td>
          </tr>
        }
        </tbody>
      </table>
    <app-footer></app-footer>