<app-nav-bar></app-nav-bar>
<div class="container mt-4">
    <div class="d-flex justify-content-between mb-4 align-items-center">
        <h3 class="mb-0">Lista de Recetas de {{ userName }}</h3>
    </div>

    <table datatable [dtOptions]="dtOptions" class="table table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Method</th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        @for (recipe of userRecipes; track $index) {
          <tr>
            <td>{{ recipe.title }}</td>
            <td>{{ recipe.description }}</td>
            <td>{{ recipe.filteringMethod }}</td>
            <td>{{ recipe.userName }}</td>
            <td>{{ recipe.userEmail }}</td>
            <td>
              @if(recipe.deleted ){
                Eliminated
              }@else {
                Active
              }
            </td>
            <td>
                @if(!recipe.deleted){
                <button class="btn btn-lg btn-warning me-2" [routerLink]="['/recipe/detail', recipe.id]" type="button">
                  <img src="../../assets/icons/informacion.png" alt="More Info" style="height: 20px; width: 20px;"> More Info
                </button> 
                <button class="btn btn-lg btn-warning me-2" [routerLink]="['/recipe', recipe.id]" type="button">
                  <img src="../../assets/icons/editar.png" alt="More Info" style="height: 20px; width: 20px;"> Edit
                </button>
                <button class="btn btn-lg btn-warning me-2" (click)="deleteRecipe(recipe.id)" type="button">
                  <img src="../../assets/icons/borrar.png" alt="More Info" style="height: 20px; width: 20px;"> Delete
                </button> 
              }
            </td>
          </tr>
        }
        </tbody>
      </table>
    <app-footer></app-footer>